.card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.custom__card {
  width: 500px;
  max-width: 90%;
  min-height: 300px;
  background-color: #1d1d1d;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}
.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.card__title {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  color: white;
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
